.nav {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.link-home {
    color:white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}
.links {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
}



@media (max-width: 1204px ) {
    .nav {
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        
    }
}