.form {
    max-width: 1024px;
    box-sizing: border-box;
    margin: 50px auto;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    gap: 30px;

    input, select {
        width: 100%;
        padding: 20px 10px;
        font-size: 18px;
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        color: black;
        border: none;
    }

    button {
        width: 100%;
        padding: 15px 10px;
        border-radius: 50px;
        background-color: rgb(3, 47, 2);
        color: white;
        font-size: 600;
        font-size: 20px;
        transition: 1s;
    }
    button:hover {
        background-color: rgb(89, 135, 175);
    }
    
}